<!DOCTYPE html>
<html>
<head>
    <title>Paste Bin like</title>
</head>
<body>
<ul id="navigation">
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/paste">Create a Paste</a></li>
    <li><a href="/cleanCookies">Clear Cookies</a></li>
</ul>

{% if templateVar is not null and templateVar is defined %}
    {% include templateVar %}
{% endif %}

</body>
</html>