<!DOCTYPE html>
<html>
<head>
    <title>Paste Bin like</title>
</head>
<body>
<form action="/login" method="POST">
    <div>
        <label for="email">Email :</label>
        <input type='text' name="email">
    </div>

    <div>
        <label for="password">Password :</label>
        <input type="text" name="password">
    </div>

    <div>
        <button type ="submit">submit</button>
    </div>

</form>

</body>
</html>