<form action="/paste" method="POST">
    <div>
        <label for="title">Title :</label>
        <input type='text' name="title">
    </div>

    <div>
        <label for="content">Content :</label>
        <input type="text" name="content">
    </div>

    <div>
        <label>Enlisted?</label>
        <select name="isPublic">
            <option value="true">Public</option>
            <option value="false">Private</option>
        </select>
    </div>

    <div>
        <button type="submit">submit</button>
    </div>

</form>