<!DOCTYPE html>
<html>
    <head>
        <title>Paste Bin like</title>
    </head>
<body>
    <form>
        <div>
            <label for="title">title :</label>
            <input type=''>
        </div>





    </form>

</body>
</html>