<!DOCTYPE html>
<html>
    <head>
        <title>Paste Bin like</title>
    </head>

    <body>
        <h1>Title</h1>
        {{ message.title }}  
        <h1>Content</h1>
        {{ message.content }}
        <p>theo</p>
        
    </body>
</html>